In [2]:
n = int(input("Enter number: "))

def fact(n):
  if n == 0:
    return 1
  else:
    return n * fact(n-1)

Enter number: 5

In [3]:
fact(n)

120

In [15]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

In [20]:
factorial(4)

24

## rearrangement left

#### print the ten most frequent words sorted by count then alphabetically.

In [91]:
f = open("plain text file.txt")
x = f.read()
words = x.split(' ')
wcount = {}

for word in words:
    updated_word = ""
    for char in word:
        if char.isalnum():
            updated_word += char.lower()
            
    if updated_word:
        if updated_word in wcount:
            wcount[updated_word]+=1
        else:
            wcount[updated_word] = 1
items = list(wcount.items())

#count sort and alphabetical sort
for i in range(len(items)):
    for j in range(i + 1, len(items)):
        if (items[i][1] < items[j][1]) or (items[i][1] == items[j][1] and items[i][0] > items[j][0]):
            items[i], items[j] = items[j], items[i]
            
# first 10 words
for i in range(min(10, len(items))):
    word, count = items[i]
    print(f"{word}: {count}")

file: 3
plain: 3
a: 2
documents: 2
is: 2
always: 1
and: 1
are: 1
be: 1
document: 1

#### Contact book

In [140]:
contacts= {'kushal': 7359212203 , 'viraj': 7894561230 , 'riya' : 7418529630 }

def add():
    name = input("Enter name: ").strip()
    number = int(input("Enter Number: ").strip())
    contacts[name] = number
    print(f'{name} added')
    
def search():
    name = input("search: ").strip()
    if name in contacts:
        print(f'{name} : {contacts[name]}')
    else:
        print('Contact unavailable')
        
def delete():
    name = input("Enter the name to delete:").strip()
    if name in contacts:
        del contacts[name]
        print(f'contact {name} deleted')
        print(f'updated Contact list:{contacts}')

def display_contacts():
    if not contacts:
        print("Contact book is empty.")
    else:
        print("\n Contact List:")
        for name in sorted(contacts):
            print(f"{name}: {contacts[name]}")
        print()
        
def menu():
    print(" 1. Add \n 2. Search  \n 3. Delete \n 4. See All")
    options = [1, 2, 3, 4]
    option = int(input("Enter the option: "))
    if option in options:
        if option == 1:
            add()
        elif option == 2:
            search()
        elif option == 3:
            delete()
        elif option == 4:
            display_contacts()
    else:
        print("Not a valid option")
menu()

 1. Add
 2. Search
 3. Delete
 4. See All
Enter the option: 7
Not a valid option

#### File Handling read, update, delete

In [3]:
import pandas as pd
df= pd.read_csv('task4.csv')
df['Status'] = df['Status'].fillna('Pending')
df

               TO DO TASK   Status
0  Read the documentation  Pending
1         Do the Exercise  Pending
2     Submit the notebook  Pending
3        Ask for feedback  Pending
4       Read the feedback  Pending
5            Make Changes  Pending

In [4]:
df

               TO DO TASK   Status
0  Read the documentation  Pending
1         Do the Exercise  Pending
2     Submit the notebook  Pending
3        Ask for feedback  Pending
4       Read the feedback  Pending
5            Make Changes  Pending

In [12]:
def tdl():
    df= pd.read_csv('task4.csv')
    df['Status'] = df['Status'].fillna('Pending')
    print("1. View")
    print("2. Add")
    print("3. Mark as Complete")
    print("4. Delete Task")
    print("5. Exit")
    options = [1, 2, 3, 4, 5]
    while True:
        option = int(input("Enter the option: "))
        if option in options:
            if option == 1:
                print("\n")
                print(df)
            elif option == 2:
                print("\n")
                print(df)
                new_task = input("Enter the name of the new task: ")
                df.loc[len(df)] = [new_task, 'Pending']
                df.to_csv('task4.csv', index=False)
            elif option == 3:
                print("\n")
                print(df)
                index = int(input("Enter the index you want to mark as completed: "))
                df.at[index, 'Status'] = "Completed"
                df.to_csv('task4.csv', index=False)
                print(df)
            elif option == 4:
                print("\n")
                print(df)
                index = int(input("Enter the index you want to delete: "))
                df = df.drop(index).reset_index(drop=True)
                df.to_csv('task4.csv', index=False)
                print(df)
            elif option == 5:
                df.to_csv('task4.csv', index=False)
                print("Exited Successfully")
                break
        else:
            print("Invalid Option.")

In [14]:
tdl()

1. View
2. Add
3. Mark as Complete
4. Delete Task
5. Exit
Enter the option: 1
               TO DO TASK     Status
0  Read the documentation    Pending
1         Do the Exercise  Completed
2     Submit the notebook    Pending
3        Ask for feedback    Pending
4       Read the feedback    Pending
Enter the option: 5
Exited Successfully